.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 20%;
}

mat-form-field {
    margin-left: 30%;
}

mat-card-content {
    margin-top: 3%;
}

button {
    margin-left: 20%;
}

mat-raised-button {
    color:burlywood;
}

input {
   display: block;
    width: 150%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    background-color: antiquewhite;
}

#accordions {
    margin-top: 5%;
}

mat-expansion-panel {
    width: 50%;
    height: 10%;
    margin-left: 30%;
}

h2, h3 {
    color: burlywood; 
}

img {
    margin-left: 10%;
}

mat-card {
    width: 55%;
    margin-top: 1%;
    margin-left: 22%;
    background-color: gray;
}

mat-card-title {
    margin-left: 44%;
    color: bisque; 
}

h3 {
    white-space: pre-line;
}