<mat-card>
  <mat-card-title>Search History</mat-card-title>

  <mat-spinner color="warn" *ngIf="isLoading"></mat-spinner>

  <mat-card-content *ngIf="!isLoading">
    <div id="accordions" *ngFor="let history of searchHistoryList">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{ history.title + ' ' +  '-' + ' ' + history.author }}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img src="{{ history.thumbnail }}" />
          <mat-action-row>
            <button mat-button color="warn" (click)="removeById(history._id)">Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <br/>
    </div>
  </mat-card-content>
</mat-card>
