mat-card {
  width: 55%;
  margin-top: 1%;
  margin-left: 22%;
  background-color: dimgray;
}

mat-card-content {
  padding-top: 8%;
}

mat-card-title {
  margin-left: 38%;
  color: burlywood;
  font-size: xx-large;
}

mat-spinner {
  margin: auto;
  color: burlywood;
}

mat-panel-title h3 {
  margin: auto;
  color: burlywood;
}

mat-expansion-panel img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#removeAllButton {
  float: right;
}

::ng-deep .material-icons {
  height: 36px !important;
  width: 36px !important;
  font-size: 36px !important;
}
